<div class="container marketing" ng-controller="workerController">
	<div class="alert alert-danger" ng-show="error">
		<p>Wrong data inserted!</p>
	</div>
	<form>
		<table class="table table-striped" ng-model="user">
			<tr>
				<td>ID<td><td>{{user.id}}</td>
			</tr>
			<tr>
				<td>Email</td><td><input type="text" ng-model="user.email"/></td>
			</tr>
			<tr>
				<td>Name</td><td><input type="text" ng-model="user.userName"/></td>
			<tr>
				<td>Surname</td><td><input type="text" ng-model="user.surname"/></td>
			</tr>
			<tr>
				<td>Password</td><td><input type="password" ng-model="user.password"/></td>
			</tr>
			<tr>
				<td>Repeat password</td><td><input type="password"/></td>
			</tr>
			<tr>
				<td>Birthday</td><td><input type="date" ng-model="user.dateOfBirth"/></td>
			</tr>
			<tr>
				<td>Shoe number</td><td><input type="text" ng-model="user.shoeNumber"/></td>
			</tr>
			<tr>
				<td>Shirt size</td><td><input type="text" ng-model="user.shirtSize"/></td>
			</tr>
			<tr>
				<td></td><td><input class="btn btn-primary" type="button" ng-click=""/></td>
			</tr>
		</table>
	</form>
</div>