<div ng-controller="waiterController">
<div class="container">

	<div ng-if="workSchedule!=''" ng-init="getTodayTables()">
		<h2>Tables</h2>
	    <div class="thumbnail col-sm-4" ng-repeat="table in resTables">
	      	<div class="caption">
	        	<h3>Table</h3>
	        	<p class="bg-primary">Table id: {{table.id}}</p>
	        	<p class="bg-info">Number of chairs: {{table.numberOfChairs}}</p>
	        	<p><input class="btn btn-primary" type="button" value="Add order" ng-click="createOrder(table.id)"></p>
	      	</div>
	    </div>
	</div>

	<div>
		<h3>Created orders</h3>
		<table class ="table">
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Time</th>
				<th>Table</th>
				<th>Waiter</th>
				<th>Price</th>
				<th>Status</th>
			</tr>
			<tr ng-repeat="ord in orders" ng-click="setSelected(ord)" ng-class="{'bg-info' : selected===ord}">
				<td >{{ord.id}}</td>
				<td>{{ord.date}}</td>
				<td>{{ord.time}}</td>
				<td>{{ord.table.id}}</td>
				<td>{{ord.waiter.userName}}</td>
				<td>{{ord.price}}</td>
				<td>{{ord.orderStatus}}</td>
			</tr>
		</table>
	</div>
	
	<div ng-if='selected!=""'>
		<input class="btn btn-primary" type="button" value="Edit" ng-click="showEditOrder()" ng-disabled="selected.orderStatus=='PAID'"/>
		<input class="btn btn-primary" type="button" value="Delete" ng-click="deleteOrder()" ng-disabled="selected.orderStatus=='PAID'"/>
		<input class="btn btn-primary" type="button" value="Add order items" ng-click="addItemsTo()" ng-disabled="selected.orderStatus=='PAID'"/>
		<input class="btn btn-primary" type="button" value="Edit order items" ng-click="editOrderItems()" ng-disabled="selected.orderStatus=='PAID'"/>
		<input class="btn btn-primary" type="button" value="Make check" ng-click="makeCheck()" ng-disabled="selected.orderStatus=='PAID'"/>
	</div>
	
	<div ng-if='selected!="" && edit==true'>
		<h3>Edit order</h3>
		<form>
			<table class="table table-striped">
				<tr><td>Order id:</td><td>{{selected.id}}</td></tr>
				<tr>
				 	<td>Table:</td>
				 	<td>
				 		<div class="styled-select blue semi-square">
					 		<select id="editTable">
								<option ng-repeat="t in tables" value="{{t.id}}">Table {{t.id}}</option>
							</select>
						</div>
				</tr>
				<tr>
					<td></td><td><button type="button" class="btn btn-primary" ng-click=editOrder()>Confirm</button></td>
				</tr>
			</table>
		</form>
	</div>
	
	<div id="addorderitems" ng-if='lastAddedOrder!=null'>
		<h3>Add order items</h3>
		<p><i>Adding order items to order {{lastAddedOrder.id}}</i></p>
		<table class="table table-stiped">
			<tr><th>Product name</th><th>Price</th><th>Quantity</th></tr>
			<tr ng-repeat="product in products">
				<td>{{product.productName}}</td><td>{{product.price}}</td><td><input id="product{{product.id}}" class="form-control" type="number" value="0" min="0"/></td>
			</tr>
		</table>
		<input class="btn btn-primary" type="button" value="Confirm" ng-click=addOrderItems()>
	</div>
	
	<div ng-if='editOrdersItems!=null'>
		<h3>Edit order items</h3>
		<p><i>Edit order items for order {{editOrdersItems.id}}</i></p>
		<table class="table table-stiped">
			<tr><th>Product name</th><th>Price</th><th>Quantity</th><th>Status</th><th>Delete</th></tr>
			<tr ng-repeat="item in orderItems">
				 <td>{{item.product.productName}}</td>
				 <td>{{item.product.price}}</td>
				 <td>
				 	<input id="item{{item.id}}" class="form-control" type="number" min="0" value="{{item.quantity}}" ng-if="item.orderItemStatus=='ONHOLD'"/>
				 	<span ng-if="item.orderItemStatus!='ONHOLD'">{{item.quantity}}</span>
				 </td>
				 <td>{{item.orderItemStatus}}</td>
				 <td><input class="btn btn-primary" type="button" value="Delete" ng-if="item.orderItemStatus=='ONHOLD'"/ ng-click="deleteOrderItem(item)"><td>
			</tr>
		</table>
		<input class="btn btn-primary" type="button" value="Confirm" ng-click=editItems()>
	</div>
	
</div>
	
</div>