<div class="container" ng-controller="restaurantManagerController">
	<br />
	<div class="form-group">
		<h2 class="page-header">Restaurant grade :</h2>
		<input type="text" class="form-control" id="des" readonly=true
			ng-model="grade">
	</div>
	<h2 class="page-header">Show restaurant earnings for period :</h2>
	<form name="myForm" novalidate>
		<div class="form-group">
			<label>From:</label> <input type="date" ng-Model="restaurantStart"
				class="form-control" placeholder="Enter waiter" required /> <label>To:</label>
			<input type="date" ng-Model="restaurantEnd" class="form-control"
				placeholder="Enter waiter" required />
			<button type="submit" class="btn btn-success"
				ng-disabled="myForm.$invalid" ng-Click="getRestaurantEarnings()">Submit</button>
		</div>
	</form>
	<div class="form-group">
		<label>Restaurant earnings:</label> <input type="text"
			class="form-control" id="des" readonly=true
			ng-value="restaurantEarnings">
	</div>
	<h2 class="page-header">Restaurant waiters :</h2>
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="worker.userRole == 'WAITER'"
						ng-repeat="worker in restaurantWorkers"
						ng-click="setSelectedWorker(worker)"
						ng-class="{'info' : selectedWorker===worker}">
						<td>{{worker.id}}</td>
						<td>{{worker.userName}}</td>
						<td>{{worker.surname}}</td>
						<td>{{worker.email}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="conteinter">
		<div class="row">
			<div class="col-xs-12 offset3">
				<div class="text-left">
					<button type="button" class="btn btn-primary"
						ng-click="getEarningForWaiter()" ng-disabled="!selectedWorker">Waiter
						earnings</button>
					<button type="button" class="btn btn-success"
						ng-Click="getGradeOfWaiter()" ng-disabled="!selectedWorker">Waiter
						grade</button>
				</div>
			</div>
		</div>
		<br />
	</div>
	<div class="form-group">
		<label>Selected waiters earnings:</label> <input type="text"
			class="form-control" id="des" readonly=true ng-value="waiterEarnings"
			ng-model="waiterEarnings"> <label>Selected waiters
			grade:</label> <input type="text" class="form-control" id="des" readonly=true
			ng-value="waiterGrade" ng-model="waiterGrade">
	</div>
	<br />
	<br/>
	<br/>
	<div class="form-group">
		<button type="button" class="btn btn-primary"
			ng-click="getProductsForRestaurant()" ng-disabled="showProducts">Show
			restaurant products</button>
	</div>
	<div ng-if="showProducts">
		<h1 class="page-header">Products of
			{{$parent.restaurant.restaurantName}}</h1>
		<div class="container">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
							<th>Product type</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="product.productType != 'DRINK'"
							ng-repeat="product in restaurantProducts"
							ng-click="setSelectedRestaurantProduct(product)"
							ng-class="{'info' : selectedRestaurantProduct===product}">
							<td>{{product.id}}</td>
							<td>{{product.productName}}</td>
							<td>{{product.description}}</td>
							<td>{{product.productType}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="conteinter">
			<div class="row">
				<div class="col-xs-12 offset3">
					<div class="text-left">
						<button type="button" class="btn btn-primary"
							ng-click="getProductGrade()"
							ng-disabled="!selectedRestaurantProduct">Product grade</button>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Product grade:</label> <input type="text" class="form-control"
				id="des" readonly=true ng-model="gradeProduct">
		</div>
	</div>
</div>