<div class="container marketing" ng-controller="waiterController">
	<h1>Work schedules</h1>
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Worker</th>
				<th>Segment</th>
				<th>Start date</th>
				<th>Start time</th>
				<th>End date</th>
				<th>End time</th>
				<th>Replacement</th>
			</tr>
			<tr ng-repeat="sch in schedules">
				<td>{{sch.id}}</td>
				<td>{{sch.worker.userName}}</td>
				<td>{{sch.segment.id}}</td>
				<td>{{sch.date}}</td>
				<td>{{sch.startTime}}</td>
				<td>{{sch.secondDate}}</td>
				<td>{{sch.endTime}}</td>
				<td ng-if="sch.replacement.id!=null">{{sch.replacement.userName}}</td>
				<td ng-if="sch.replacement.id==null">No replacement</td>
			</tr>
		</table>
		<div>
			<p>Search schedules between: 
				<input class="form-control" type="date" ng-init=initDate() ng-model="startDate" value="{{startDate}}"/>
				<input class="form-control" type="date" ng-model="endDate" value="{{endDate}}"/>
				<input class="btn btn-primary" type="button" value="Search" ng-click="searchSchedules()">
			</p>
			<p class="small"><i>*Search by start dates</i></p>
		</div>
	</div>
</div>