<h1 class="page-header">Products of {{$parent.restaurant.restaurantName}}</h1>
<div class="container">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Product type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in restaurantProducts"
					ng-click="setSelectedRestaurantProduct(product)"
					ng-class="{'info' : selectedRestaurantProduct===product}">
					<td>{{product.id}}</td>
					<td>{{product.productName}}</td>
					<td>{{product.description}}</td>
					<td>{{product.price}}</td>
					<td>{{product.productType}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>