<div role="form" class="form-inline" ng-controller="homeController">
	<h1 class="page-header">HOME</h1>
	<div class="btn-group">
		<div id ="guestButtons" ng-if="loggedUser.userRole=='GUEST'">
		  <button type="button" class="btn btn-primary" ng-click=showView(1)>History</button>
		  <button type="button" class="btn btn-primary" ng-click=showView(2)>Restaurants</button>
		  <button type="button" class="btn btn-primary" ng-click=showView(3)>Friends</button>
		</div>
		<div id ="waiterButtons" ng-if="loggedUser.userRole=='WAITER'">
		  <button type="button" class="btn btn-primary" ng-click=showView(4)>Segments</button>
		  <button type="button" class="btn btn-primary" ng-click=showView(5)>Work schedules</button>
		  <button type="button" class="btn btn-primary"  ng-click=showView(6)>Orders</button>
		</div>
	</div>
	
	<div ng-if="show==1" ng-include src="'pages/history.html'">
	</div>
	<div ng-if="show==2" ng-include src="'pages/restaurants.html'">
	</div>
	
	<div ng-if="show==3" ng-include src="'pages/friends.html'">
	</div>
	
	<div ng-if="show==4" ng-include src="'pages/tables.html'">
	</div>
	<div ng-if="show==5" ng-include src="'pages/schedules.html'">
	</div>
	
	<div ng-if="show==6" ng-include src="'pages/order.html'">
	</div>
	
	
</div>