<h1 class="page-header">All restaurants</h1>
<div class="container" ng-controller="systemManagerController">
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="restaurant in restaurants"
						ng-click="setSelected(restaurant)"
						ng-class="{'info' : selected===restaurant}">
						<td>{{restaurant.id}}</td>
						<td>{{restaurant.restaurantName}}</td>
						<td>{{restaurant.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="conteinter">
		<div class="row">
			<div class="col-xs-12 offset3">
				<div class="text-left">
					<button type="button" class="btn btn-primary" ng-click="display(1)">Register
						new restaurant</button>
					<button type="button" class="btn btn-primary" ng-click="display(4)"
						ng-disabled="!selected">Edit this restaurant</button>
					<button type="button" class="btn btn-primary"
						ng-click="deleteRestaurant()" ng-disabled="!selected">Delete
						this</button>
					<button type="button" class="btn btn-primary"
						ng-click="getRestaurantManagers()" ng-disabled="!selected">View
						restaurant managers</button>
					<button type="button" class="btn btn-primary" ng-click="display(3)"
						ng-disabled="!selected">Register restaurant manager</button>
				</div>
			</div>
		</div>
	</div>
	<br />

	<div ng-show="show==1" ng-include src="'pages/registerRestaurant.html'"></div>
	<div ng-show="show==2" ng-include src="'pages/restaurantManagers.html'">
	</div>
	<div ng-show="show==3" ng-include
		src="'pages/registerRestaurantManager.html'"></div>
	<div ng-show="show==4" ng-include
		src="'pages/editRestaurantBySystemManager.html'"></div>
</div>
</div>